/*Biodiversity*/

.body{
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100%;
    gap: 120px;
    margin: 0 auto;
    
  }
  
  .biobackground {
    background: 
      linear-gradient(180deg, rgba(255, 255, 255, 0.00) 80%, #FFFFFF 100%),
      url("src/gaia/bg.png") no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 67.5rem;
  }
  
  .biodiv{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
  }
  
  .significance{
        display: flex; 
        align-items: center;
        flex-direction: column;
        gap: 2.375rem;
        width: 75rem;
  }

  .video-container {
    display: flex;
    flex-direction: column; 
    width: 1200px;  
    margin: 0 auto; 
  }
  
  .video-container video {
    display: block; 
    width: 100%;  
  }
  
  .video-container small {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .video-container p {
    width: 75rem; 
    text-align: left;
  }

  .scinnovation{
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 2.813rem;
  }

  .innovation-image {
    width: 78px;
    height: 78px;
    border-radius: 10px;
  }
  .innovlist {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 8.75rem;
    row-gap: 4.375rem;
  }
  
  .innovation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .innovation-header {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }
  
  .innovation p{
    width: 33.125rem;
  }
  
  .bioyear{
    width: 75rem;
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 2.813rem;
  }
  
  .bioyear img{
    height: 30.75rem; width: 75rem
  }

  .bioyear small {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1rem;
  }

  .signi-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.375rem;
    align-items: center;
    height: 32.375rem
  }
  
  .card {
    display: flex;
    width: 15.5625rem;
    height: 20.6875rem;
    padding: 1.5rem 3rem;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    border-radius: 0.9375rem;
    background: #FFF;
    box-shadow: 35px 76px 23px 0px rgba(0, 0, 0, 0.00), 22px 49px 21px 0px rgba(0, 0, 0, 0.01), 13px 27px 18px 0px rgba(0, 0, 0, 0.05), 6px 12px 13px 0px rgba(0, 0, 0, 0.09), 1px 3px 7px 0px rgba(0, 0, 0, 0.10);
    align-self: stretch;
    text-align: center;  
  }
  
  .card img{
    width: 9.25rem;
    height: 9.25rem;
    flex-shrink: 0;
  }
  
  /*mobile query*/
  @media (max-width: 768px){
    /*Fonts*/
    :root {
      --h1-size: 32px;
      --h1-weight: 600;
  
      --h2-size: 24px;
      --h2-weight: 500;
  
      --h3-size: 18px;
      --h3-weight: 500;
  
      --p-size: 14px;
      --p-weight: 400;
  
      --small-size: 12px;
      --small-weight: 400;
    }
  
  
    html, body {
      margin: 0;
      padding: 0;
      overflow-x: auto;
    }
  
    /*Nav Bar*/
    .hamburger {
      display: block;
    }
  
    .navbar {
      justify-content: center;
    }
  
    .navbar ul {
      justify-content: center;
      gap: 0; 
      padding: 0;
      margin: 0;
      height: 5rem;
    }
  
    .navbar li:not(.logo-li) {
      display: none;
    }
  
    .logo-li {
      margin: 0;
    }
  
    .logo {
      margin: 0;
      justify-content: center;
    }
  
  
    .logo img {
      height: 3.125rem;
      width: 12.1875rem; 
    }
  
    .footer {
      background: linear-gradient(93deg, #8FA856 0%, #4E762E 100%);  color: white;
      text-align: center;
      padding: 2rem 2rem;
      font-family: var(--font-regular);
    }
  
    .footer-content img{
    width: 12.3125rem;
    height: 5.84963rem;
    flex-shrink: 0;
    }
  
    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: auto;
      height: 25.75rem;
      margin: 0 auto;
      gap: 0rem;
      font-weight: 500;
    }
  
    .footer-divider {
      height: 2px;
      background: white;
      margin: 0rem auto 0 auto;
      width: 20rem;
    }
  
    .footer-content ul {
      width: 50%;
      padding: 0;
      margin: 0 auto;
      text-align: left;
      display: block;
    }
    
    .footer-content ul li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    
    /*awg*/
    .return_butt{
      left: calc(50% - 10rem)
    }
  
    .confirm-btn{
      margin-bottom: 4rem;
    }

    .awg-card {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
      width: 20rem;
      height: 40.375rem;
      padding: 1rem; 
      gap: 1rem;
    }
    
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; 
      height: auto; 
    }
    
    .awg-card img {
      width: 18.25rem;
      height: 10.5rem;
      object-fit: contain;
      margin: 0;
    }
  
    .choices-container {
       display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      justify-content: center;
  }
  
    .result-message{
      top: 47%;
    }
  
    .modal-content {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      gap: 1rem;
      height: 30rem;
    }
  
    .modal-content a {
      padding: 0.5rem 1rem;
      margin: 0;
      width: auto; 
      text-align: center;
      border-radius: 1rem;
      background: #8FA856;
      color: #ffffff;
      text-decoration: none;
    }
  
    .choices-container .choice-item span {
      font-size: var(--h3-size);
    }

    .biodiv{
      width: 20rem;
      margin: 0 auto;
      gap: 4rem;
      }
    
      .video-container video {
        width: 320px;
        height: 157px;
        object-fit: cover;
      }
    
      .video-container {
        width: 320px;
        height: auto;
      }
      .video-container p{
        width: 20rem;
      }
      
      .video-container small{
        width: 19.8125rem;
      }

      .innovlist {
        align-items: center;
        width: 20rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        column-gap: 2rem;
        row-gap: 2rem;
      }
      
      .innovation {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 20rem;
      }
      
      .innovation p {
        max-width: 20rem;
      }
      
      .innovation img {
        max-width: 3.3125rem;
        max-height: 3.3125rem;
        flex-shrink: 0;
        aspect-ratio: 1/1;
      }
      .signi-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 1.1875rem;
      }

      .significance {
        width: 20rem;
        margin: 0 auto; 
        height: 31.625rem;
      }
    
      .signi-cards .card {
        border-radius: 0.9375rem;
        display: flex;
        width: 8.6875rem;
        height: 11.625rem;
        padding: 0.9375rem 1.125rem;
        flex-direction: column;
        align-items: center;
        gap: 0.9375rem;
      }
    
      .card img{
        width: 4.625rem;
        height: 4.625rem;
      }

      
      .bioyear {
        width: 20rem;
        margin: 0 auto;
        gap: 2rem;
      }
      
      .bioyear img {
        width: 100%;
        height: auto;
      }
      
      .bioyear small {
        width: 100%;
        text-align: right;
      }
  }