.main{
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centertitle{
    text-align: center;
    margin-bottom: 45px ;
}

.courtesy{
    text-align: right;
    margin-top: 17px;
}

.vidimg_info{
    margin-top: 28px;
}

.videosection{
    width: 100%;
    height: auto;
    margin-bottom: 128px;
}

.videosection img{
    width: 100%;
    height: auto;
}

.video video{
    border: none;
    height: auto;
    width: 100%;
}

.principles{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10%;
    justify-content: center;
    margin-bottom: 128px;
}

.iconandtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.icon{
    width: 78px;
}

.img{
    width: 100%;
}

.iconinfo{
    margin-top: 24px;
}

.process{
    display: flex;
    gap: 6.5rem; 
    margin: 0 auto;
    margin-bottom: 128px;
}

.processimgandcourtesy{
    width: 100%;
    max-width: 491px;
    margin-left: 39px;
}

.vertimg{
    width: 100%;
    height: auto;
}

.processinfo1{
    width: 100%;
    max-width: 491px;
    margin-top: 34px;

}

.processinfo2{
    width: 100%;
    max-width: 491px;
    margin-top: 34px;
}

.issue-cards{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));
    justify-content: center;
    margin-bottom: 128px;
    align-items: center;
    gap: 1.5rem;
    margin-left: 15px;
}

.cropsection{
    width: 100%;
}

.card{
    display: flex;
    width: 249px;
    height: 333px;
    padding: 24px 48px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;

/* Card Shadows */
box-shadow: 35px 76px 23px 0px rgba(0, 0, 0, 0.00), 22px 49px 21px 0px rgba(0, 0, 0, 0.01), 13px 27px 18px 0px rgba(0, 0, 0, 0.05), 6px 12px 13px 0px rgba(0, 0, 0, 0.09), 1px 3px 7px 0px rgba(0, 0, 0, 0.10);
}

#corn{
   margin-top: 28px
}

.issue-cards small{
    text-align: center;
}

#benefits{
    padding-top: 128px;
}


@media (max-width: 768px){
.body{
    width: 100%;
    padding: 0 20px;
}


.videosection{
    margin-bottom: 68px;
    height: auto;
    width: 100%;
}

.video{
    width: auto;
}

.video video{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
}

.video img{
    width: 100%;
}

img .img{
    width: 100%;
}

.videosection{
    width: 100%;
    height: auto;
    margin-bottom: 64px;
}

.courtesy{
    text-align: right;
    margin-top: 16px;
    margin-bottom: 0;
}

.centertitle{
    text-align: center;
    margin-bottom: 16px ;
}


.vidimg_info{
    margin-top: 16px;
}

.principlessection{
    gap: 64px;
}

.principles{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5%;
    justify-content: center;
    margin-bottom: 50px;
}

.iconandtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.titleforicon1{
    padding-left: 2px;
}

.titleforicon2{
    padding-left: 0px;
}

.icon{
    width: 53px;
}

.img{
    width: 100%;
}

.iconinfo{
    margin-top: 10px;
}

.img{
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-top: 16px;
    margin-bottom: 0px;
}


.process{
    display: flex;
    gap: 1.5rem; 
    margin: 0 auto;
    margin-bottom: 68px;
    flex-direction: column;
    height: auto;
}

.processimgandcourtesy{
    width: 100%;
    max-width: 320px;
    margin-left: 0px;
    margin-top: 0px;
    order: 2;
}

.vertimg{
    width: 319px;
    height: auto;
    align-self: center;
    margin-top: 0px;
}

.processtitle{
    text-align: center;
}

.processinfo1{
    width: 100%;
    max-width: 491px;
    height: auto;
    margin-top: 24px;
}

.processinfo2{
    width: 100%;
    max-width: 491px;
    height: auto;
    margin-top: 24px;
    margin-bottom: 0px;
}

.issue-cards{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-bottom: 68px;
    align-items: center;
    gap: 1.5rem;
    margin-left: -0px;
}

.issue-cards img{
    width: 74px;
    height: 74px;
}

.card{
    display: flex;
    width: 139px;
    height: 186px;
    padding: 24px 48px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;

}

#corn{
   margin-top: 1px;
}

.issue-cards small{
    text-align: center;
}

#benefits{
    padding-top: 68px;
    padding-bottom: 68px;
}



}
