body{
    background-image: url('src/gaia/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.gaia_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.the_gaia{
    width: 600px;
}

.welcome1{
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


@media (max-width: 768px) {

    body{
        background-size: 900%;
    }

    main{
        max-width: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .the_gaia{
        width: 355px;
    }

    .welcome1{
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .welcome_bot{
        margin-top: -15px;
    }

}

