body{
    background-image: url('src/gaia/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.gaia{
    max-width: 750px;
    max-height: 750px;
}

.welcome1{
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.gaia_div{
    display: flex;
    flex-direction: row;
}

.biodi{
    max-width: 330px;
    margin-top: 10px;
}

.biotech{
    max-width: 310px;
    margin-left: -20px;
}

.gold_rice{
    max-width: 287px;
    margin-top: -65px;
    margin-left: 32px;
}

.social{
    max-width: 288px;
    margin-top: -88px;
    margin-left: -1px;
}

.globe_bottom{
    max-width: 577px;
    margin-left: 31px;
    margin-top: -168px;
    position: absolute;
    z-index: -1; 
}

@media (min-width: 320px) and (max-width: 768px) {
    
    .welcome1{
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .welcome_bot{
        margin-top: -15px;
    }
    
    .biodi{
        max-width: 330px;
        margin-top: 10px;
    }
    
    .biotech{
        max-width: 310px;
        margin-left: -20px;
    }
    
    .gold_rice{
        max-width: 287px;
        margin-top: -65px;
        margin-left: 32px;
    }
    
    .social{
        max-width: 288px;
        margin-top: -88px;
        margin-left: -1px;
    }
    
    .globe_bottom{
        max-width: 577px;
        margin-left: 31px;
        margin-top: -168px;
        position: absolute;
        z-index: -1; 
    }
}