.genConsidTitle {
    text-align: center;
  }
  
  .genConsidVid {
    text-align: center;
  }

  .genConsidSec {
    margin-bottom: 128px;
  }
  
  .videoCourt {
    text-align: right;
    margin: 20px 0px;
  }
  .firstImg {
    width: 100%;
    display: block;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  .genConsidTitle {
    margin-bottom: 45px;
  }

  .firstP {
    text-align: left;
  }


.sec6Title {
  text-align: center;
  padding-bottom: 45px;
}

.subContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
}

.subGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 4.375rem;
  column-gap: 8.75rem;
}

.sec6Icon {
  width: 78px;
}

.subGrid2 {
  width: 83%;
}

.subClass1 {
  width: 50%;
}


.addresConcernTitle {
  text-align: center;
  margin-bottom: 45px;
}

.concern1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.addressLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.375rem;
  column-gap: 8.75rem;
  
}

.concernLogo {
  width: 74px;
}

.section3 {
  margin-bottom: 7.5rem;
}


.section4 h2 {
  text-align: center;
  margin-bottom: 45px;
}

.mainGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  row-gap: 60px;
  column-gap: 20px;
  padding-bottom: 45px;
}

.mainGrid .items {
    display: flex;
    width: 249px;
    height: auto;
    padding: 24px 48px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;

/* Card Shadows */
box-shadow: 35px 76px 23px 0px rgba(0, 0, 0, 0.00), 22px 49px 21px 0px rgba(0, 0, 0, 0.01), 13px 27px 18px 0px rgba(0, 0, 0, 0.05), 6px 12px 13px 0px rgba(0, 0, 0, 0.09), 1px 3px 7px 0px rgba(0, 0, 0, 0.10);

}
.mainGrid2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  column-gap: 50px; 
  height: 32.375rem;
}

.mainGrid2 .items {
    display: flex;
    width: 249px;
    height: 360px;
    padding: 24px 48px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;

/* Card Shadows */
box-shadow: 35px 76px 23px 0px rgba(0, 0, 0, 0.00), 22px 49px 21px 0px rgba(0, 0, 0, 0.01), 13px 27px 18px 0px rgba(0, 0, 0, 0.05), 6px 12px 13px 0px rgba(0, 0, 0, 0.09), 1px 3px 7px 0px rgba(0, 0, 0, 0.10);
}

.mainGrid img{
  width: 150px;
  padding-bottom: 15px;
}

.mainGrid2 img{
  width: 150px;
  padding-bottom: 15px;
}

.section4 p {
  margin-bottom: 45px;
}

.section4 {
  padding-bottom: 120px;
}


.section5 h2 {
  text-align: center;
  padding-bottom: 45px;
}

.imgCourt {
  text-align: right;
  margin: 20px 0px;
}

.imgCourtDesc {
  padding-bottom: 45px;
}

.sec5Icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  row-gap: 20px;
  column-gap: 20px;
  height: 32.375rem;
}

.sec5Icons img {
  width: 150px;
  padding-bottom: 15px;
}

.sec5Items {
    display: flex;
    width: 249px;
    height: 390px;
    padding: 24px 48px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;

/* Card Shadows */
box-shadow: 35px 76px 23px 0px rgba(0, 0, 0, 0.00), 22px 49px 21px 0px rgba(0, 0, 0, 0.01), 13px 27px 18px 0px rgba(0, 0, 0, 0.05), 6px 12px 13px 0px rgba(0, 0, 0, 0.09), 1px 3px 7px 0px rgba(0, 0, 0, 0.10);
}

.section5 {
  padding-bottom: 200px;
}

.goalsText {
  text-align: center;
  padding-bottom: 50px;
}

.goalLayout {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
}

.goalLayout img {
  width: 148px;
}

.section2 {
  margin-bottom: 128px;
}

.goalsSec{
  height: 32.375rem
}

.goalCards {
    display: flex;
    width: 249px;
    height: auto;
    padding: 24px 48px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;

/* Card Shadows */
box-shadow: 35px 76px 23px 0px rgba(0, 0, 0, 0.00), 22px 49px 21px 0px rgba(0, 0, 0, 0.01), 13px 27px 18px 0px rgba(0, 0, 0, 0.05), 6px 12px 13px 0px rgba(0, 0, 0, 0.09), 1px 3px 7px 0px rgba(0, 0, 0, 0.10);
}

  
@media (max-width: 768px) {

  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .genConsidSec {
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;
  }

  .genConsidTitle {
    text-align: center;
    margin-bottom: 24px;
  }

  .genConsidVid {
    text-align: center;
    margin: 0px;
  }

  video{
    width: 100%;
    height: auto;
  }

  .videoCourt {
    text-align: right;
    margin: 12px 0px;
  }

  .firstImg {
    width: 100%;
  }

  .goalTitle {
    padding-bottom: 24px;
  }
  
  .goalLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  
  .contentLayout {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }
  
  .goalLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    place-items: center;
    width: 100%;
  }
  
  .goalsText {
    text-align: center;
    padding-bottom: 24px;
  }
  

  .section2 {
    padding-bottom: 64px;
    margin: 0;
  }

  .goalCards {
    display: flex;
    width: auto;
    height: 220px;
    padding: 15px 18px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;

/* Card Shadows */
box-shadow: 35px 76px 23px 0px rgba(0, 0, 0, 0.00), 22px 49px 21px 0px rgba(0, 0, 0, 0.01), 13px 27px 18px 0px rgba(0, 0, 0, 0.05), 6px 12px 13px 0px rgba(0, 0, 0, 0.09), 1px 3px 7px 0px rgba(0, 0, 0, 0.10);
  }
  
  .goalLayout img {
      width: 74px;
  }
  
  .goalLayout p{
    
    text-align: center;
  }
  
  .iconCards{
      padding: 15px 15.5px;
      width: 70%;
      
  }

  .concern1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 1rem;
    gap: 12px;
    margin: 0;

}

.addressLayout {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
}

.addressingConcerns {
    padding-bottom: 30px;
}

.addresConcernTitle {
    text-align: center;
    padding-bottom: 24px;
    margin: 0;
}

.section3 {
    margin-bottom: 64px;
}

.concernLogo {
    width: 53px;
}

.section4 h2 {
  text-align: center;
  margin-bottom: 24px;
}

.section4 p {
  margin-bottom: 20px;
}


.mainGrid img{
  width: 74px;
  padding-bottom: 0;
}

.mainGrid2 img{
  width: 74px;
  padding-bottom: 0;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  row-gap: 24px;
  column-gap: 24px;
  padding-bottom: 20px;
  width: 100%;
}

.mainGrid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  row-gap: 24px;
  column-gap: 24px;
  width: 100%;
  height: auto;
}

.mainGrid .items {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 15px;
  height: 200px;
  width: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.mainGrid2 .items {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 15px;
  height: 200px;
  width: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}


.section4 {
  padding-bottom: 100px;
}

.sec6Icon {
  width: 53px;
}

.subGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
padding-bottom: 0px;
}

.subGrid2 {
  width: 100%;
}

.subClass1 {
  width: 100%;
}

.subContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.sec6Title {
  padding-bottom: 24px;
  text-align: center;
}

.sec6P {
  padding-bottom: 40px;
}

.section5 h2 {
  text-align: center;
  padding-bottom: 24px;
}

.sec5Img{
  width: 100%;
}

.imgCourt{
  text-align: right;
  padding-bottom: 15px;
}

.imgCourtDesc {
  padding-bottom: 25px;
}
.sec5Icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  row-gap: 24px;
  column-gap: 24px;
  height: 420px;
}

.sec5Icons img {
  width: 74px;
  padding-bottom: 0;
}

.sec5Items {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 15px;
  gap: 15px;
  width: auto;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);

}

.section5 {
  padding-bottom: 100px;
}


}
