/*Golden Rice*/
.goldenbody{
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100%;
    gap: 120px;
    margin: 0 auto;
    
  }
  
  .goldensec{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 7.5rem;
    width: 100%;
  }
  

  .goalsec{
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 2.375rem;
    width: 120px;
  }
  
  .video-container {
    display: flex;
    flex-direction: column; 
    width: 1200px; 
    height: auto;
    margin: 0 auto; 
  }
  
  .video-container video {
    display: block; 
    width: 100%; 
    height: auto; 
  }
  
  .video-container small {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 28px;;
    margin-top: 20px;
  }
  
  .video-container p {
    width: 75rem; 
    text-align: left;
  }
  
  .goal-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.375rem;
    align-items: center;
    height: 32.375rem;
  }
  
  .card {
    display: flex;
    width: 15.5625rem;
    height: 20.6875rem;
    padding: 1.5rem 3rem;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    border-radius: 0.9375rem;
    background: #FFF;
    box-shadow: 35px 76px 23px 0px rgba(0, 0, 0, 0.00), 22px 49px 21px 0px rgba(0, 0, 0, 0.01), 13px 27px 18px 0px rgba(0, 0, 0, 0.05), 6px 12px 13px 0px rgba(0, 0, 0, 0.09), 1px 3px 7px 0px rgba(0, 0, 0, 0.10);
    align-self: stretch;
    text-align: center;  
  }
  
  .card img{
    width: 9.25rem;
    height: 9.25rem;
    flex-shrink: 0;
  }
  
  
  .goldprog {
    display: flex;
    flex-direction: row; /* Place image and text side by side */
    align-items: flex-start; /* Align items at the top */
    gap: 4.375rem; /* Add spacing between the image and text */
    width: 75rem; /* Set a fixed width for the section */
    margin: 0 auto; /* Center the section horizontally */
  }
  
  .goldprog img {
    width: 50%; /* Image takes up half the width */
    height: auto; /* Maintain aspect ratio */
  }
  
  .goldprog .goldprog-text {
    width: 33.125rem;
  }
  
  .goldprog h2,
  .goldprog p {
    margin: 0 0 1.8rem 0; /* Add spacing between text elements */
  }
  
  .goldefficacy{
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 2.813rem;
  }
  
  .efflist {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 8.75rem;
    row-gap: 4.375rem;
  }
  
  .efficacy {
    display: flex;
    flex-direction: column; /* Stack the header and paragraph vertically */
    gap: 1rem; /* Add spacing between the header and the paragraph */
  }
  
  .efficacy-header {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }
  
  .efficacy p{
    width: 33.125rem;
  }
  
  .goldenricecase{
    width: 75rem;
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 2.813rem;
  }
  
  .goldenricecase img{
    height: 30.75rem; width: 75rem
  }

  .goldenricecase small {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 20px;
  }
  
  .issuesec{
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 2.813rem;
  }
  
  .issuelist {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 8.75rem;
    row-gap: 4.375rem;
  }
  
  .issue {
    display: flex;
    flex-direction: column; /* Stack the header and paragraph vertically */
    gap: 1rem; /* Add spacing between the header and the paragraph */
  }
  
  .issue-header {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }
  
  .issue p{
    width: 33.125rem;
  }
  
  .takeawaysec{
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 2.375rem;
    width: 75rem;
    margin-bottom: 7.5rem;
  }
  
  .issue-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.375rem;
    align-items: center;
  }
  
  .issue-cards .card{
    height: 23.3125rem;
    width: 15.5625rem;
  }
  /*mobile query*/
  @media (max-width: 768px){

    .goldensec{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    gap: 4rem;
    }
  
    .video-container video {
      width: 100%; /* Set the video width */
      height: 157px; /* Set the video height */
      object-fit: cover;
    }
  
    .video-container {
      width: 100%; /* Ensure the container matches the video size */
      height: auto; /* Let the height adjust automatically */
    }
    .video-container p{
      width: 100%;
    }
    
    .video-container small{
      width: 19.8125rem;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  
    .goalsec {
      width: 100%; /* Ensure the parent container has a fixed width */
      margin: 0 auto; /* Center the parent container */
      height: 31.625rem;
    }
  
    .goal-cards {
      display: grid; /* Use grid layout for better control */
      grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
      gap: 1.5rem 1.1875rem;
      height: 0rem;
    }
  
    .goal-cards .card {
      border-radius: 0.9375rem;
      display: flex;
      width: 8.6875rem;
      height: 11.625rem;
      padding: 0.9375rem 1.125rem;
      flex-direction: column;
      align-items: center;
      gap: 0.9375rem;
    }
  
    .card img{
      width: 4.625rem;
      height: 4.625rem;
    }
  
    .goldprog {
      flex-direction: column; /* Stack image and text vertically */
      align-items: center; /* Center-align the content */
      gap: 1.5rem; /* Add spacing between elements */
      width: auto; /* Set a smaller width for mobile */
      margin: 0 auto; /* Center the section horizontally */
    }
  
    .goldprog img {
      order: 2; /* Move the image below the text */
      width: 100%;
      height: 100%;
      align-items: center;
    }
  
    .goldprog h2 {
      text-align: center;
    }
  
    .goldprog .goldprog-text {
      order: 1; /* Ensure the text stays above the image */
      width: 100%; /* Text takes up the full width */
      text-align: left; /* Center-align the text */
    }
  
    .goldprog h2, .goldprog p {
      margin: 0 0 24px 0;
  }
  .goldefficacy{
    gap: 24px;
  }
  .efflist {
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  
  .efficacy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .efficacy-header {
    display: flex;
    align-items: center;
    gap: 12px; 
  }
  
  .efficacy p {
    max-width: 20rem;
  }
  
  .efficacy img {
    max-width: 3.3125rem;
    max-height: 3.3125rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }
  
  .goldenricecase{
    width: 100%;
    height: 100%;
  }
  
  .goldenricecase img{
    width: 100%;
    height: 100%;
  }

  .issue-header {
    display: flex;
    align-items: center;
    gap: 12px; 
  }

  .issuesec{
    width: 100%;
    gap: 24px;
  }

  .issuelist {
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  
  .issue {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
  }
  
  .issue p {
    max-width: 21rem;
  }
  
  .issue img {
    max-width: 3.3125rem;
    max-height: 3.3125rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }
  
  .goal-cards {
      display: grid; /* Use grid layout for better control */
      grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
      gap: 1.5rem 1.1875rem;
    }
  
    .goal-cards .card {
      border-radius: 0.9375rem;
      display: flex;
      width: 8.6875rem;
      height: 11.625rem;
      padding: 0.9375rem 1.125rem;
      flex-direction: column;
      align-items: center;
      gap: 0.9375rem;
    }
  
    .card img{
      width: 4.625rem;
      height: 4.625rem;
    }
  
  
    .takeawaysec {
      width: 20rem; /* Ensure the parent container has a fixed width */
      margin: 0 auto; /* Center the parent container */
      height: 31.625rem;
      margin-bottom: 4rem;
    }
  
    .issue-cards {
      display: grid; /* Use grid layout for better control */
      grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
      gap: 1.5rem 1.1875rem;
    }
  
    .issue-cards .card {
      border-radius: 0.9375rem;
      display: flex;
      width: 8.6875rem;
      height: 11.625rem;
      padding: 0.9375rem 1.125rem;
      flex-direction: column;
      align-items: center;
      gap: 0.9375rem;
    }
  
    .card img{
      width: 4.625rem;
      height: 4.625rem;
    }
  }
  