
main{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.centertitle{
    text-align: center;
}
/* video & desc container */
.video{
    width: 1200px;
    height: 832px;
    margin-bottom: 128px;
}
/* video */
.vid{
    width: 100%;
    height: 500px;
    margin-top: 45px;
}

/* vidimg info/desc */
.vidimg_info{
    margin-top: 45px;
}

/* image & desc container */
.image{
    width: 1200px;
    height: 832px;
    margin-bottom: 128px ;
}
/* image */
.img{
    width: 100%;
    height: 500px;
    margin-top: 45px;
}

.courtesy{
    text-align: right;
    margin-top: 17px;
}

/* mobile query */
@media (max-width: 768px){
    main{
        max-width: 320px;
    }

/* video & desc container */
.video{
    width: 320px;
    height: 628px;
    margin-bottom: 68px;
}

/* video */
.vid{
    width: 100%;
    height: 157px;
    margin-top: 16px;
    margin-bottom: 16px;
}
/* image & desc container */
.image{
    width: 320px;
    height: 628px;
    margin-bottom: 68px;
}
/* image */
.img{
    width: 100%;
    height: 157px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.courtesy{
    text-align: right;
    margin-top: 7px;
}

}