main{
    padding-left: 360px;
    padding-right: 360px;
}

.centertitle{
    text-align: center;
}

.video{
    width: 1200px;
    height: 832px;
}

.vid{
    max-width: 1200px;
    height: 500px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.image{
    width: 1200px;
    height: 832px;
}

.img{
    max-width: 1200px;
    height: 500px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.courtesy{
    text-align: right;
    margin-top: 17px;
}
