

.addresConcernTitle {
    text-align: center;
    padding-bottom: 50px;
}

.concern1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 5px;

}

.addressLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    
}

.concernLogo {
    width: 74px;
}

.concernTitle {
    margin-left: 20px;
}

.section3 {
    padding-bottom: 150px;
}

@media (max-width: 768px){
    .concern1 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-bottom: 5px;
    
    }

    .addressLayout {
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        column-gap: 0px;
        
    }
    
    .concernTitle {
        margin-left: 11px;
    }
    
    .addressingConcerns {
        padding-bottom: 30px;
    }
    
    .addresConcernTitle {
        text-align: center;
        padding-bottom: 30px;
    }
    
    .section3 {
        padding-bottom: 50px;
    }

    .concernLogo {
        width: 53px;
    }
}