


.genConsidTitle {
    text-align: center;
  }
  
  .genConsidVid {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .videoCourt {
    text-align: right;
    padding-bottom: 40px;
    margin: 0px;
  }
  .firstImg {
    width: 100%;
    display: block;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  .genConsidTitle {
    padding-bottom: 50px;
  }

  .firstP {
    padding-bottom: 150px;
  }

  
  


@media (max-width: 768px) {
  main {
    margin-left: 30px;
    margin-right: 30px;
  }
  .genConsidSec {
    display: flex;
    flex-direction: column;
  }

  .genConsidTitle {
    text-align: center;
    padding-bottom: 20px;
  }

  .genConsidVid {
    text-align: center;
    margin: 0px;
  }

  .videoCourt {
    text-align: right;
    padding-bottom: 25px;
    margin: 0px;
  }

  .firstP {
    padding-bottom: 70px;
  }

  .firstImg {
    width: 100%;
  }
}
